<%= content_for :header do %>
 <%= render partial: "trips/card/trip_info", layout: "trips/card/card_horizontal_layout", locals: { trip: @trip_next } %>
<% end %>

<%= content_for :main do %>

  <%= render partial: "trips/card/trip_card", locals: { trip: @trip_next, map: true, myclass: 'hello' } %>
  <h1 class="font-weight-light py-3 text-center">Upcoming</h1>
  <% @trips_future.each do |trip| %>
    <%= render partial: "trips/card/trip_card", locals: { trip: trip, map: true } %>
  <% end %>
  <h1 class="font-weight-light py-3 text-center">Past Trips</h1>
  <% @trips_past.each do |trip| %>
    <%= render partial: "trips/card/trip_card", locals: { trip: trip, map: true} %>
  <% end %>
<% end %>





 
