<%= content_for :header do %>
  <h1 class="font-weight-light py-3 text-center">Next trip</h1>
  <%= render layout: 'pages/narrow_col' do %>
    <%= render partial: "trips/card/trip_info", layout: "trips/card/card_horizontal_layout", locals: { trip: @trip_next } %>
  <% end %>

<% end %>

<%= content_for :main do %>

  <%= render layout: 'pages/narrow_col' do %>
  
    <% if @trips_future.any? %>
      <h1 class="font-weight-light py-3 text-center text-white">Upcoming</h1>
      <% puts "im out" %>
      <% @trips_future.each do |trip| %>

        <%= render partial: "trips/card/trip_info", layout: "trips/card/card_horizontal_layout", locals: { trip: trip } %>
        <% raise %>
      <% end %>
    <% end %>

    <% if @trips_past.any? %>

      <h1 class="font-weight-light py-3 text-center text-white">Past Trips</h1>
      <% @trips_past.each do |trip| %>
        <%= render partial: "trips/card/trip_info", layout: "trips/card/card_horizontal_layout", locals: { trip: trip } %>
      <% end %>

    <% end %>
  <% end %>

<% end %>