<%= content_for :header do %>
<%# TODO #132 replace all h1 for h2, pages should only have one h1 %>
  <h1 id="title-trip-next" class="font-weight-light py-3 text-center"><%= (@trip_next.start_date - Date.today).to_i %> Days Left Until</h1>
  <%= render layout: 'pages/narrow_col' do %>
      <%= render partial: "trips/card/trip_card", locals: { trip: @trip_next} %>
      <%#= render partial: "trips/card/trip_card", locals: { trip: @trip_next, center: @center, card_img_col: 'w-100', card_body_col: 'w-100', map: true, map_img_style: 'max-height: 30vh; min-height:200px;' }  %>
  <% end %>
<% end %>

<%= content_for :main do %>
  <%= render layout: 'pages/narrow_col' do %>
    <% if @trips_future.any? %>
      <h1 class="font-weight-light py-3 text-center text-white">Upcoming</h1> 
      <% @trips_future.each do |trip| %>
            <%#= render partial: "trips/card/trip_card", locals: { trip: trip } %>
        <%= render partial: "trips/card/trip_card", locals: { trip: trip} %>
        <%#= render partial: "trips/card/trip_info", layout: "trips/card/card_horizontal_layout", locals: { trip: trip } %>
      <% end %>
    <% end %>
    <% if @trips_past.any? %>
      <h1 class="font-weight-light py-3 text-center text-white">Past Trips</h1>
      <% @trips_past.each do |trip| %>
      <%= render partial: "trips/card/trip_card", locals: { trip: trip} %>
        <%#= render partial: "trips/card/trip_info", layout: "trips/card/card_horizontal_layout", locals: { trip: trip } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
