<div class="row">
  <div class="col-8">
    <div class="container-sm">
      <table class="table caption-top">
        <caption>Your Smart Checklist</caption>
        <thead>
          <tr>
            <th>
              <i class="fas fa-user"></i>
            </th>
            <% @trip.invitations.each do |invitation| %>
              <% if invitation.user != @trip.user %>
                <th class="col"><i class="fas fa-user"></i></th>
              <% end %>
            <% end %>
            <th scope="col">Category</th>
            <th scope="col">Label</th>
            <th scope="col">Note</th>
          </tr>
        </thead>
        <tbody>
          <th scope="row">#</th>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tbody>
      </table>
      <% @trip.checklist_items.each do |item| %>
        <div class="card p-0">
          <div class="row card-body p-2 m-0">
            <div class="col-xs dropdown">
              <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <% if !item.users.include? @trip.user %>
                  <i class="text-secondary fas fa-plus-circle"></i>
                <% else %>
                  <% @duty = @trip.user.duties.find { |duty| duty.checklist_item_id == item.id } %>
                  <%= @duty.status %>
                <% end %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li class="py-0 px-2 border-bottom border-top bg-secondary text-white">Item Actions</li>
                <li><%= link_to "âœï¸ Edit", edit_checklist_item_path(item), class: "dropdown-item" %></li>
                <li><%= link_to "ðŸ—‘ Delete", checklist_item_path(item), method: :delete, remote: true, class: "dropdown-item" %></li>
                <li class="py-0 px-2 border-bottom border-top bg-secondary text-white">Claim Duty</li>
                <li><%= link_to "ðŸŽ’ To Bring", claim_path(:duty => {:user_id => @trip.user.id, :checklist_item_id => item.id, :status => "ðŸŽ’" }), method: :post, remote: true, class: "dropdown-item" %></li>
                <li><%= link_to "âœ… Bringing", claim_path(:duty => {:user_id => @trip.user.id, :checklist_item_id => item.id, :status => "âœ…" }), method: :post, remote: true, class: "dropdown-item" %></li>
                <li><%= link_to "ðŸ›’ Buying", claim_path(:duty => {:user_id => @trip.user.id, :checklist_item_id => item.id, :status => "ðŸ›’" }), method: :post, remote: true, class: "dropdown-item" %></li>
                <li><%= link_to "ðŸ˜­ Help", claim_path(:duty => {:user_id => @trip.user.id, :checklist_item_id => item.id, :status => "ðŸ˜­" }), method: :post, remote: true, class: "dropdown-item" %></li>
              </ul>
            </div>
            <% @trip.invitations.each do |invitation| %>
              <% if invitation.user != @trip.user %>
                <div class="col-xs dropdown">
                  <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <% if !item.users.include? invitation.user %>
                      <i class="fas fa-plus-circle"></i>
                    <% else %>
                      <% @duty = invitation.user.duties.find { |duty| duty.checklist_item_id == item.id } %>
                      <%= @duty.status %>
                    <% end %>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li class="py-0 px-2 border-bottom border-top">Item Actions</li>
                    <li><%= link_to "âœï¸ Edit", edit_checklist_item_path(item), class: "dropdown-item" %></li>
                    <li><%= link_to "ðŸ—‘ Delete", checklist_item_path(item), method: :delete, remote: true, class: "dropdown-item" %></li>
                    <li class="py-0 px-2 border-bottom border-top">Claim Duty</li>
                    <li><%= link_to "ðŸŽ’ To Bring", claim_path(:duty => {:user_id => invitation.user.id, :checklist_item_id => item.id, :status => "ðŸŽ’" }), method: :post, remote: true, class: "dropdown-item" %></li>
                    <li><%= link_to "âœ… Bringing", claim_path(:duty => {:user_id => invitation.user.id, :checklist_item_id => item.id, :status => "âœ…" }), method: :post, remote: true, class: "dropdown-item" %></li>
                    <li><%= link_to "ðŸ›’ Buying", claim_path(:duty => {:user_id => invitation.user.id, :checklist_item_id => item.id, :status => "ðŸ›’" }), method: :post, remote: true, class: "dropdown-item" %></li>
                    <li><%= link_to "ðŸ˜­ Help", claim_path(:duty => {:user_id => @trip.user.id, :checklist_item_id => item.id, :status => "ðŸ˜­" }), method: :post, remote: true, class: "dropdown-item" %></li>
                  </ul>
                </div>
              <% end %>

            <% end %>
            <div class="col-sm">
              <%= item.label.category %>
            </div>
            <div class="col-sm">
              <%= item.label.name %>
            </div>
            <div class="col-sm">
              <%= item.detail %>
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to '+ item',  new_trip_checklist_item_path(@trip), class: "btn btn-dark" %>
    </div>
  </div>
  <div class="col-4">
    <h4>Trip Info</h4>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <div id='map' style='width: 100%; height: 200px;'></div>
        <% if @trip.end_date != nil %>
          <p class="card-text"><strong>Planned for</strong> <%= @trip.start_date %> <strong>to</strong> <%= @trip.end_date %></p>
        <% else %>
          <p class="card-text"><strong>Planned for</strong> <%= @trip.start_date %></p>
        <% end %>
        <h5 class="card-title"><%= @trip.description %></h5>
        <p class="text-primary"><i class="fas fa-map-marker-alt"></i> <%= @trip.destination %></p>
        <p class="card-text"></p>
        <% @trip.activities.each do |activity| %>
          <span class="badge bg-info text-dark"><%= activity.name %></span>
        <% end %>
        <p><strong>Trip Outrekers:</strong>
          <% @users.each do |user| %>
            <%= user.first_name.capitalize %>
          <% end %>
        </p>

        <div class="dropdown">
          <a class="text-dark" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-ellipsis-h"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><%= link_to "Invite an Outreker", new_trip_invitation_path(@trip, @invitation), class: "dropdown-item" %></li>
            <li><%= link_to "Cancel Trip", trip_path(@trip), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item" %></li>
          </ul>
        </div>

      </div>
    </div>
    <h4>Recommended for Your Activities:</h4>
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <% @recommendations.each do |recommendation| %>
          <%= link_to "#{recommendation.name} for #{recommendation.category}",  trip_label_import_path(@trip, recommendation), method: :post, remote: true, class: "list-group-item p-1 btn btn-outline-dark" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>