<div class="container text-center" style="max-width: 400px;">
  <h2 class="mb-3">Edit Profile<%# resource_name.to_s.humanize %></h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <%= f.error_notification %>
    <div class="form-group d-flex flex flex-column bd-highlight mb-3 d-flex justify-content-center">

      <%#= cl_image_tag resource.avatar.key, class:"avatar"  %>

      <div class="p-0 avatar mx-auto mb-2"
                style="width: 200px; height: 100%; min-height;
                background-image: url(
                  <%= cl_image_path(resource.avatar.key,
                  :transformation => {:effect => "blur:1000"}) %>);
                  background-size: cover;">
        <%= cl_image_tag resource.avatar.key, style: "width: auto; height: 200px;"%>

      </div>
      <div class="field">
        <%# f.label :avatar %>
        <%= f.file_field :avatar, class: "ml-5" %>

      </div>

    </div>

    <%# <div class="col-8"> %>
    <%#= f.input :avatar, as: :file %>
    <%# </div> %>

    <div class="form-inputs text-left">
      <%= f.input :email, required: true, autofocus: true %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Update", class:"btn btn-primary btn-block mb-3" %>
    </div>
  <% end %>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  <%= link_to "Back", :back %>
</div>
