<%= content_for :trip_info do %>

  <%= render 'trips/card/display_dates', { trip: trip } %>
  
  <%= link_to trip.description, trip_path(trip), class: "clearfix text-decoration-none text-dark h3" %>
  <% trip.activities.each do |activity| %>
    <span class="badge bg-info"><%= activity.name %></span>
  <% end %>

  <span class="badge badge-primary"><%= trip.user.first_name.capitalize %></span>
  <% trip.invitations.each do |invitation| %>
    <span class="badge badge-secondary"><%= invitation.user.first_name.capitalize unless invitation.user == trip.user%></span>
  <% end %>

  

<% end %>

<% content_for :static_map do %>
  <%= render 'trips/card/static_map', { trip: trip } %>
<% end %>
