<div class="card mb-4 shadow">
  <div class="row no-gutters">
    <div class="col-md-4 order-md-1">
      <img class="card-img h-100" styles="objet-fit: cover;" src="https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/<%= trip.longitude %>,<%= trip.latitude %>,9,0/300x300@2x?access_token=<%= ENV['MAPBOX_API_KEY'] %>" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body position-relative">
        <%= render 'trips/card/display_dates', { trip: trip } %>
        <%# raise %>
        <%= link_to trip.description, trip_path(trip), class: "stretched-link text-decoration-none text-dark h3" %>
        <p class="text-primary"><i class="fas fa-map-marker-alt"></i> <%= trip.destination %></p>
        <p class="card-text">
          <% trip.activities.each do |activity| %>
            <span class="badge bg-info"><%= activity.name %></span>
          <% end %>
        </p>
        <p><strong>Trip Outrekers:</strong>
          <span class="badge badge-primary"><%= trip.user.first_name.capitalize %></span>
          <% trip.invitations.each do |invitation| %>
            <span class="badge badge-secondary"><%= invitation.user.first_name.capitalize unless invitation.user == trip.user%></span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
