<div class="card mb-3">
  <div class="row">
    <div class="col-md-4 order-md-1 pl-md-0">

      <div class="" style="background-image: url( <%="https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/#{trip.longitude},#{trip.latitude},9,0/300x300@2x?access_token=#{ENV['MAPBOX_API_KEY']}"%>);
                  background-position: center; background-repeat: no-repeat; background-size: cover;
                  width: 100%; height: 100%; min-height:210px; "></div>

    </div>
    <div class="col-md-8 order-md-0 pr-md-0">
      <div class="card-body">
        <%= render 'trips/card/display_dates', { trip: trip } %>

        <%= link_to trip.description, trip_path(trip), class: "clearfix text-decoration-none text-dark h3" %>
        <%= link_to "https://maps.google.com/?q=#{trip.destination},15z", target: "_blank", rel: "nofollow", class: "clearfix small" do %>

          <i class="fas fa-map-marker-alt"></i> <%= trip.destination %>
        <% end %>

        <% trip.activities.each do |activity| %>
          <span class="badge bg-info"><%= activity.name %></span>
        <% end %>

        <span class="badge badge-primary"><%= trip.user.first_name.capitalize %></span>
        <% trip.invitations.each do |invitation| %>
          <span class="badge badge-secondary"><%= invitation.user.first_name.capitalize unless invitation.user == trip.user%></span>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%
=begin %>
... html and ruby code goes here
<%
=end %>
