<div class="card mb-3">
  <div class="row">
    <div class="col-md-4 order-md-1 pl-md-0">

      <div class="" style="background-image: url( <%="https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/#{trip.longitude},#{trip.latitude},9,0/300x300@2x?access_token=#{ENV['MAPBOX_API_KEY']}"%>);
                  background-position: center; background-repeat: no-repeat; background-size: cover;
                  width: 100%; height: 100%; min-height:210px; "></div>

    </div>
    <div class="col-md-8 order-md-0 pr-md-0">
      <div class="card-body">
        <%= render 'trips/card/display_dates', { trip: trip } %>

        <%= link_to trip.description, trip_path(trip), class: "clearfix text-decoration-none text-dark h3" %>

        <%= link_to "https://maps.google.com/?q=#{trip.destination},15z", target: "_blank", rel: "nofollow", class: "clearfix small" do %>
          <i class="fas fa-map-marker-alt"></i> <%= trip.destination %>
        <% end %>

        <div class="clearfix my-2">

          <% trip.activities.each do |activity| %>
            <span class="btn btn-outline-success btn-sm"><%= activity.name %></span>
          <% end %>

        </div>

        <div class="clearfix avatar-group d-flex my-2">
          <%= render partial: "shared/avatar", locals: { user: User.find(trip.user_id), square_size: "46px", avatar_classes: "mr-1 border border-success border-3"} %>

          <% trip.invitations.each do |invitation| %>
            <%# raise %>
            <% unless invitation.user.id == User.find(trip.user_id).id %>
              <%= render partial: "shared/avatar", locals: { user: invitation.user, square_size: "46px", avatar_classes: "mr-1"} %>
              
            <% end %>

            
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>

<%
=begin %>
... html and ruby code goes here
<%
=end %>
