
<div  class="p-0 avatar <%= local_assigns[:avatar_classes] %>"
      style="width: <%= local_assigns[:square_size] || '80px' %>; 
      height: <%= local_assigns[:square_size] || '80px' %>;
      background-image: url(<%= cl_image_path(user.avatar.key, :transformation => {:effect => "blur:1000"}) %>);
      background-size: cover;">

  <%= cl_image_tag user.avatar.key, style: "width: auto; height: #{local_assigns[:square_size] || '80px'};"%>

</div>

<%#= render partial: "shared/avatar", locals: { user: @current_user, square_size: "60px"} %>
