<nav class="navbar navbar-expand-lg">
  <div class="container">
    <%= link_to :root do %>
      <%= show_svg('brand/Outrek_logoType.svg') %>
    <% end %>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Plan a trip', new_trip_path, class: 'btn btn-outline-primary my-2 my-sm-0 ml-2' %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item", class: "nav-link" %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-sm navbar-light rounded">
    <div class="container-fluid">
      <%= link_to :root, class: "navbar-brand" do %>
        <%= show_svg('brand/Outrek_logoType.svg')  %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav">
          <% if user_signed_in? %>
            <%= link_to 'Plan a trip', new_trip_path, class: 'btn btn-primary my-2 my-sm-0 ml-2 ' %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item", class: "nav-link" %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
