
<%= render partial: "items/_item_new.html", layout: "pages/art_forestry_bg" %>


<%= content_for :main do %>
  <%= render layout: 'pages/narrow_col' do %>
    <div class="containter text-white">
      <h2 class="text-white">Add an Item</h2>

      <%= simple_form_for @item do |f| %>
        <%= f.input :name %>
        <%= f.association :label %>

        <%= f.button :submit, class:"btn btn-primary btn-block" %>
      <% end %>
    </div>
    
  <% end %>
<% end %>
      
