<%= content_for :main do %>
  <%= render layout: 'pages/narrow_col' do %>
    <div class="containter text-white">
      <h1>Create a new item for your trip to <%= @trip.destination %></h1>
      <%= simple_form_for [@trip, @checklist_item] do |f| %>
        <%= f.input :detail %>
        <%= f.association :label %>
        <%= f.button :submit, class:"btn btn-primary btn-block" %>
      <% end %>
    </div>
  <% end %>
<% end %>

