<div class="containter">
  <h1>Edit <%= @checklist_item.label.name %></h1>
  <%= simple_form_for (@checklist_item) do |f| %>
    <%= f.input :detail %>
    <%= f.association :label %>
    <%= f.button :submit %>
  <% end %>
</div>