<div class="card mb-4 shadow">
  <div class="row no-gutters">

    <% if local_assigns[:map] %>

      <div class="<%= local_assigns[:card_img_col] %>">

        <%= render 'trips/card/static_map', { trip: trip } %>
      </div>

    <% end %>
    
    <div class="<%= local_assigns[:card_body_col] %>">
      <div class="card-body position-relative">
        <%= render 'trips/card/display_dates', { trip: trip } %>
        <%# raise %>
        <%= link_to trip.description, trip_path(trip), class: "stretched-link text-decoration-none text-dark h3" %>
        <p class="text-primary"><i class="fas fa-map-marker-alt"></i> <%= trip.destination %></p>
        <p class="card-text">
          <% trip.activities.each do |activity| %>
            <span class="badge bg-info"><%= activity.name %></span>
          <% end %>
        </p>
        <p><strong>Trip Outrekers:</strong>
          <span class="badge badge-primary"><%= trip.user.first_name.capitalize %></span>
          <% trip.invitations.each do |invitation| %>
            <span class="badge badge-secondary"><%= invitation.user.first_name.capitalize unless invitation.user == trip.user%></span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
